@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    margin: 20px;
    font-family: 'Roboto', sans-serif;
}

header {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
}

header img {
    margin-right: 30px ;
    margin-bottom: 20px;
}

.links {
    margin-left: 20px;
}

.links a {
    color: #111111;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
    margin: 15px;
}

.intro {
    max-width: 940px;
    margin: 0 auto;
    background-color: #FBDFDB;
    border-radius: 30px;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.intro-text { 
    max-width: 320px;
    margin: auto 30px;
}

.intro-text h1 {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 10px;
}

.intro-text p {
    opacity: 0.7;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
}

.intro-img {
    margin-right: 100px;
}

.intro .intro-img img {
    margin-bottom: -3px;
    margin-top: 10px;
}

.menu-title h2 {
    max-width: 940px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 34px;
    padding: 10px;
}

 /*==== MODAL ====*/

.cards {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card-image img {
    width: 100%;
    border-radius: 20px;
}

.card-content {
    font-size: 18px;
    line-height: 28px;
    margin-top: 10px;
}

.card-info {
    font-size: 14px;
    color: #777777;
    margin-top: 5px;
}

footer {
    margin: 30px 0;
    background: #EEEEEE;
    display: grid;
    padding: 20px;
}

footer span {
    font-size: 14px;
    color: #999999;
    text-align: center;
}